.Seen-History {
    background-color:#303030;
    border-radius: 10px;
    padding: 0.5em;
}

.items {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
  margin-top: 2rem;
  flex-wrap: wrap;
}

.Seen-History, .current-dog, .Ban-List {
  flex: 1;
  max-width: 30%;
  padding: 1rem;
  background-color: #303030;
  border-radius: 10px;
  color: white;
}

.current-dog {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 1.2em;
}

.current-dog button {
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  background-color: #4444ff;
  color: white;
  cursor: pointer;
}

.current-dog span,
.Ban-List p span,
.Seen-History span {
  color: #77ccff;
  cursor: pointer;
  margin: 0 4px;
  display: inline-block;
}

.Ban-List p {
  cursor: pointer;
  background-color: #6e0000;
  border-radius: 7px;
  padding: 0.3em;
}

img {
  border-radius: 10px;
  margin-bottom: 1rem;
  max-width: 100%;
}

.Seen-History {
    font-size: 0.6em;
}

.Seen-History img {
    max-width: 80%;
}