#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.flashCard {
  display: flex;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  font-size: 1.5em;
  font-family: inherit;
  padding: 2em;
  width: 400px;
  height: 100px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.flashCard:hover {
  transform: scale(1.03);
  transition: transform 0.05s ease-in-out;
}

.flashCard:active {
  transform: scale(0.93);
  transition: transform 0.05s ease-in-out;
}


.container {
  display: flex;
  justify-content: center;  
  align-items: center;     
  flex-direction: column;   
  margin-top: 2.5em;
}

.next {
  margin-top: 1em;
}

